/.settings
/.project
.DS_Store
.pydevproject
/build/i7
/build/tmp
/doc/inform7/examples/stories
/doc/inform7/examples/list.html
/lib/vorple*.min.js
/tests/inform7.test.inform/Build
/tests/inform7.test.inform/Settings.plist
/tests/inform7.test.inform/Skein.skein
/tests/inform7.test.inform/notes.rtf
/tests/inform7.test.inform/Index
/tests/coverage
/stories/inform7/preview.inform/Build
/stories/inform7/preview.inform/Settings.plist
/stories/inform7/preview.inform/Skein.skein
/stories/inform7/preview.inform/notes.rtf
/stories/inform7/preview.inform/Index
