/.settings
/.project
/.idea
*.iml
.DS_Store
.pydevproject
/build/i7
/build/tmp
/build/compiler
/doc/inform7/examples/stories
/doc/inform7/examples/list.html
/lib
/tests/coverage
/tests/lib/*.z8
/stories/inform7/preview.inform/Build
/stories/inform7/preview.inform/Settings.plist
/stories/inform7/preview.inform/Skein.skein
/stories/inform7/preview.inform/notes.rtf
/stories/inform7/preview.inform/Index
