/**
 * CSS file for the "Monty Hall" example in Vorple Screen Effects
 */

/* load fonts from Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Spicy+Rice);

.room-header {
    font-family:"Spicy Rice", fantasy;
    font-size:larger;
}

/* "You have won" message */
.prize {
    color: #ff0000;
    display:block;
    font-family:"Spicy Rice", fantasy;
    font-size:50px;
    margin-top:30px;
    text-align:center;
    text-shadow: 0 0 25px #c6cc4c;
}