/*
Atmospheric Augmentation
------------------------

Based on a WordPress theme Atmospheric Augmentation v. 1.1 
by The Search Engine Guys, LLC (http://www.thesearchengineguys.com)
(http://tsegwordpressthemes.com/atmospheric-augmentation)

Adapted to Vorple by Juhana Leinonen (http://vorple-if.com)

License: GNU General Public License, v2 (or newer)
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*/

@import url('reset.css');@import url('rebuild.css');
body{background:#23271c;overflow-y:scroll;}
body, input, textarea{color:#666;font-size:13px;line-height:20px;}
h1, h2, h3, h4, h5, h6{font-family:Tahoma, Geneva, sans-serif, sans-serif;font-weight:normal;clear:both;}
h1{font-size:34px;}
h2{font-size:28px;}
h3{font-size:22px;}
h4{font-size:18px;}
h5{font-size:12px;}
h6{font-size:10px;}
hr{background-color:#E7E7E7;border:0;height:1px;margin-bottom:18px;clear:both;}
p{margin-bottom:18px;text-align:justify;}
ul{list-style:square;margin:0 0 18px 1.5em;}
ol{list-style:decimal;margin:0 0 18px 1.5em;}
ol ol{list-style:upper-alpha;}
ol ol ol{list-style:lower-roman;}
ol ol ol ol{list-style:lower-alpha;}
ul ul, ol ol, ul ol, ol ul{margin-bottom:0;}
dl{margin:0 0 24px 0;}
dt{font-weight:bold;}
dd{margin-bottom:18px;}
strong{font-weight:bold;}
cite, em, i{font-style:italic;}
big{font-size:131.25%;}
ins{background:#ffc;text-decoration:none;}
blockquote{font-style:italic;padding:0 3em;}
blockquote cite, blockquote em, blockquote i{font-style:normal;}
pre{background:#f7f7f7;color:#222;line-height:18px;margin-bottom:18px;padding:1.5em;}
abbr, acronym{border-bottom:1px dotted #666;cursor:help;}
sup, sub{height:0;line-height:1;vertical-align:baseline;position:relative;}
sup{bottom:1ex;}
sub{top:.5ex;}
a:link{color:#e7b062;text-decoration:none;}
a:visited{color:#e7b062;}
a:active, a:hover{color:#d1d1d1;}
#bg-picture{background:url('images/main-bg.jpg') top center no-repeat;margin:0 ;width:100%;height:100%;position:fixed;z-index:-1;}
#header{background:#2d2d2d;border-top:4px solid #000;border-bottom:4px solid #000;position:fixed;text-align:center;width:100%;}
#site-title{font-family:Tahoma, Geneva, sans-serif;margin:0 auto;padding:0;font-size:60px;line-height:80px;text-align:center;text-transform:uppercase;}
#site-title a{color:#fff;text-decoration:none;}
#fixed-wrapper{position:fixed;top:0;left:0;}
#main{width:472px;margin:80px auto 0 auto;}
#left-bar{position:fixed;margin:80px 0 0 -224px;width:188px;text-align:center;}
#right-bar{float:right;position:fixed;margin:105px 0 0 496px;width:205px;text-align:center;}
#footer-frame{position:fixed;bottom:0;left:0;background:#2d2d2d;border-top:4px solid #000;border-bottom:4px solid #000;border-right:4px solid #000;height:85px;margin:0 0 20px;clear:both;}
#footer{color:#fff;margin:0 20px;padding:15px 0 0;}
#content{float:left;width:432px;padding:90px 20px 120px 20px;font-family:Tahoma, Geneva, sans-serif;}
#content, #content input, #content textarea{color:#fff;font-size:15px;line-height:22px;}
#content input, #content textarea{color:#333;}
#content p, #content ul, #content ol, #content dd, #content pre, #content hr{margin-bottom:24px;}
#content ul ul, #content ol ol, #content ul ol, #content ol ul{margin-bottom:0;}
#content pre, #content kbd, #content tt, #content var{font-size:15px;line-height:21px;}
#content code{font-size:13px;}
#content dt, #content th{color:#d1d1d1;}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{color:#fff;margin:0 0 20px 0;line-height:1.5em;}
#content table{border:1px solid #e7e7e7;text-align:left;margin:0 -1px 24px 0;width:100%;}
#content tr th, #content thead th{color:#888;font-size:12px;font-weight:bold;line-height:18px;padding:9px 24px;}
#content tr td{border-top:1px solid #e7e7e7;padding:6px 24px;}
#content tr.odd td{background:#F2F7FC;}
#content .entry-title{color:#e7b062;font-size:35px;line-height:35px;margin-bottom:0;}
#content .entry-summary p:last-child{margin-bottom:12px;}
#content img{margin:0;max-width:390px;}
#content .alignleft, #content img.alignleft{display:inline;float:left;margin-right:24px;margin-top:4px;}
#content .alignright, #content img.alignright{display:inline;float:right;margin-left:24px;margin-top:4px;}
#content .aligncenter, #content img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;}
#content img.alignleft, #content img.alignright, #content img.aligncenter{margin-bottom:12px;}
.sidebar{color:#ccc;font-size:14px;line-height:24px;}
.sidebar a:hover, .sidebar a:visited, .sidebar a:link{color:#e7b062;}
.sidebar h3{margin-bottom:12px;}
.sidebar ul{list-style:none;margin-left:0;}
.sidebar ul ul{list-style:none;}
.widget_search #s{width:60%;}
.widget_search label{display:none;}
.widget-container{margin:0 0 20px 0;}
.widget-title{color:#fff;font-size:35px;line-height:24px;margin:0 0 20px 0;}
.widgettitle{color:#fff;font-size:35px;line-height:24px;margin:0 0 20px 0;}
.sidebar a:link, .sidebar a:visited{text-decoration:none;}
.sidebar a:active, .sidebar a:hover{text-decoration:underline;}
#save-buttons{position:fixed;float:right;margin:25px 0 0 496px;width:205px;text-align:center;}
.buttons button, .buttons button:hover{background:#000 url(images/button-bg.jpg);height:30px;width:60px;margin:0 15px;color:#cacdca;font-size:15px;border:1px solid #343;-moz-box-shadow: 0 0 16px rgba(0,0,0,0.75);-webkit-box-shadow: 0 0 16px rgba(0,0,0,0.75);box-shadow: 0 0 16px rgba(0,0,0,0.75);cursor:pointer;}
.buttons button[disabled], .buttons button[disabled]:hover{color:#999;cursor:default;opacity:0.8;}
#sound-controls{position:fixed;bottom:10px;margin-left:15px;text-align:left;}